*{
  margin: 0;
  padding: 0;
}

#principal, 
#listaArquivos, .mae,
 .teste,th,td, header, footer{
  border: 1px solid red;
}

body{
  background: #f7b5002f;
  border: 1px solid blue;
  padding-top: 10px;
  margin: 0;
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}
header{
  display: flex;
  height: 60px;
  width: auto;
  margin: auto;
  text-align: center;
  align-items: center;

}

#logo, #cadastro{
  height: auto;
  width: auto;
  margin: 0.5em auto ;
}
#texto{
  height: auto;
  width: 60%;
  padding: 0px 10px;
  margin: auto;
}


footer{
  text-align: center;
  padding: 10px auto;
  margin: 10px auto;
}

#principal{
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.menu{
  width: auto;
  font-size: 1em;
  text-align: center;
  margin: auto 10px;
  box-sizing:content-box  ;
}

.conteudo{
  width: 90%;
  margin: 10px;
  flex-shrink: 5;
  text-align: center; 

}


#listaArquivos{

  background-color:#fff; 
  padding: 10px;
  margin-top: 5px;
  
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;  
}
li {
  padding: 0.3em 0px;
}

a, a:link, a:hover, a:active{
  text-decoration: none;
  color: rgb(27, 109, 50);
}

ul a:hover{
  color: #fff;
  background-color: rgb(27, 109, 50);
  border-radius: 5px;
  padding: 0.5em 0px;
}

header a:hover {
  color: #fff;
  background-color: rgba(27, 109, 50, 0.372);
  border-radius: 5px;
  padding: 0.5em 0px;
}

#home .home a{
  color: #fff;
  background-color: rgb(27, 109, 50);
  border-radius: 5px;
  padding: 5px 0px;
}


#dados table{
  width: 90%;
  margin: 10px auto;
  text-align: center;

 
}

th, td{
  padding: 5px 0px;
  margin: 5px auto; 
  width: auto;
}
th{
  text-transform: uppercase;
  font-size: 90%;
 
}


/*

a:link{
  text-decoration: none;
  color: rgb(27, 109, 50);

  
}
a:visited{
  color: blue;
  background-color: #fff;
}
a:hover{
  color: #fff;
  background-color: blanchedalmond;
}
a:active{
  color: red;
  background-color: black;
}




.input{
  background-color:#fff; 
  margin: 10px 5px;
  padding: 15px 10px;
  display: inline-block;
 
}

#listaArquivos{

  background-color:#fff; 
  padding: 10px;
  margin-top: 5px;
  
}

.mae{
  /*background: rgba(193, 23, 23, 0.319);
  position: relative;
  padding: 0px;
  text-align: center;
}*/

