*{
  margin: 0;
  padding: 0;
}

#cadastro, #principal, #logo, #texto, 
#listaArquivos, .mae,
 .teste, header, footer{
  border: 1px solid red;
}

body{
  background-color: rgba(209, 228, 84, 0.081);
  border: 1px solid blue;
  padding-top: 10px;
  margin: 0;
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}
header{
  display: flex;
  height: 60px;
  width: auto;
  margin: auto;
  text-align: center;
  align-items: center;

}

#logo, #cadastro{
 
  width: 18%;
  margin: 10px auto ;
}
#texto{
  width: 60%;
  padding: 0px 10px;
}


footer{
  text-align: center;
  padding: 10px auto;
  margin: 10px auto;
}

#principal{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.menu{
  width: 12%;
  flex-shrink: 1;
  font-size: 1em;
  text-align: center;
}

.conteudo{
 
  width: 90%;
  margin: 10px;
  flex-shrink: 5;
  text-align: center; 

}


#listaArquivos{

  background-color:#fff; 
  padding: 10px;
  margin-top: 5px;
  
}

ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
   
}
li{
 margin: 8px;
}

a, a:link, a:hover, a:active{
  text-decoration: none;
  color: rgb(27, 109, 50);
}



/*

a:link{
  text-decoration: none;
  color: rgb(27, 109, 50);

  
}
a:visited{
  color: blue;
  background-color: #fff;
}
a:hover{
  color: #fff;
  background-color: blanchedalmond;
}
a:active{
  color: red;
  background-color: black;
}




.input{
  background-color:#fff; 
  margin: 10px 5px;
  padding: 15px 10px;
  display: inline-block;
 
}

#listaArquivos{

  background-color:#fff; 
  padding: 10px;
  margin-top: 5px;
  
}

.mae{
  /*background: rgba(193, 23, 23, 0.319);
  position: relative;
  padding: 0px;
  text-align: center;
}*/

