*{
  margin: 0;
  padding: 0;
}

#cadastro, #logo, #texto, 
#lateral,#listaArquivos, #a, .mae,
.input, .teste, header, footer{
  border: 1px solid red;
}

body{
  /*background-color: rgba(209, 228, 84, 0.168);*/
  border: 1px solid blue;
  padding: 15px;
  margin: 0;
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}
header{
  align-content: center;
  height: auto;
  width: auto;
  margin: auto;
 
  text-align: center;
}

#logo{
  display:inline; 
  float: left;
  padding: 10px;
  margin-left: 10px ;
}
#texto{
  display: inline-block;
  padding: 0px 10px;
}

#cadastro{
  float: right;
  padding: 10px 5px;
  margin-right: 10px;
}




footer{
  text-align: center;
  padding: 10px;
  margin: 10px;
}

ul{
    list-style-type: none;
    margin: 0px;
    padding: 10px 5px;
}

a{
  text-decoration: none;
}

a:link{
  text-decoration: none;
  color: rgb(27, 109, 50);

  
}
a:visited{
  color: blue;
  background-color: #fff;
}
a:hover{
  color: #fff;
  background-color: blanchedalmond;
}
a:active{
  color: red;
  background-color: black;
}


#lateral{
  background-color:#DDD;
  margin: 5px 10px;
  float: left;
}

.input{
  background-color:#fff; 
  margin: 10px 5px;
  padding: 15px 10px;
  display: inline-block;
 
}

#listaArquivos{

  background-color:#fff; 
  padding: 10px;
  margin-top: 5px;
  clear: both;
}

.mae{
  /*background: rgba(193, 23, 23, 0.319);*/
  position: relative;
  padding: 0px;
  text-align: center;
}

